body {
    background: rgb(212,120,0);
    background: linear-gradient(90deg, rgba(212,120,0,1) 0%, rgba(255,145,0,0.6054796918767507) 50%, rgba(212,120,0,1) 100%);
    /* background: rgb(238,224,174); //different orange gradient
    background: radial-gradient(circle, rgba(238,224,174,1) 0%, rgba(212,158,108,1) 100%); */
    text-align: center;
    margin: 0px;
}

hr {
    border-color: black;
}

html {
    font-family: arial;
    scroll-behavior: smooth;
}

div {
    display: inline-block;
}



/* --------------------------- Divs CSS -- */
.parent-div {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.welcome-child-div {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.projects-child-div {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.education-child-div {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    min-width: 1200px;
    margin-bottom: 50px;
}

.header-div {
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

#who-i-am, #experience, #contact {
    background: rgb(16,24,32);
    background: linear-gradient(90deg, rgba(16,24,32,1) 0%, rgba(16,24,32,0.7455357142857143) 50%, rgba(16,24,32,1) 100%);
    color: #F2AA4CFF;
}

#experience {
    padding: 0% 10%;
}

/* --------------------------- Nav Bar CSS -- */
.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #101820FF;
    /* background: rgb(207,188,122); orange gradient
    background: radial-gradient(circle, rgba(207,188,122,1) 0%, rgba(212,115,25,1) 100%); */
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    width: 100%; /* Full width */
    z-index: 100;

}

.navbar-li {
    float: right;
    z-index: 100;
}


.navbar-li a {
  display: block;
  color: #F2AA4CFF;
  /* color: black; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "verdana";
  font-weight: bold;
}

.navbar-li a:hover {
  background-color: #B87333;
}

/* --------------------------- Welcome Section  CSS -- */
.portrait {
  border-radius: 50%;
  width: 200px;
  border: 5px solid black;
  box-shadow: 0 10px 10px #00000080;
}

.welcome-msg {
    font-family:arial black;
    font-size:3rem;
    padding-bottom:0px;
    margin-top:5%;
    margin-bottom:0px
}

.button {
  border: none;
  box-shadow: 0 5px 5px #00000080;
  border-radius: 5%;
}

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./images/ThomasZhao_WeldingGrayscaleOpacity3.png');
    background-size: cover;
    /* border-bottom: 5px solid #101820FF; */
}

/* $bottom-border {
    background: rgb(16,24,32);
    background: linear-gradient(90deg, rgba(16,24,32,1) 0%, rgba(16,24,32,0.7455357142857143) 50%, rgba(16,24,32,1) 100%);
} */

#resumebutton:hover { transform: scale(1.2); }

/* --------------------------- Who I Am CSS */
.abt-me-gallery {
    height: 250px;
    border: 5px solid black;
    box-shadow: 0 1rem 1rem #00000080;
}

.intro-para {
    font-size: 1.5rem;
    width: 80%;
    margin: auto;
    text-align: justify;
}



/* --------------------------- Projects Section -- */
.img-thumbnail {
    height:250px;
    border:5px solid black;
    box-shadow: 0 1rem 1rem #00000080;
}

#SteelBridge-proj:hover { transform: scale(1.2); }
#subway-proj:hover { transform: scale(1.2); }
#concrete-proj:hover { transform: scale(1.2); }
#dams-proj:hover { transform: scale(1.2); }

#project-info-sect {
    height: 200px;
    width: 100%;
}

#proj-info-SteelBridge {
  display: none;
}
#proj-info-subway {
  display: none;
}
#proj-info-concrete {
  display: none;
}
#proj-info-dams {
  display: none;
}

.proj-info {
    width: 80%;
    margin: auto;
    border: 5px solid black;
    padding: 0px 5px;
}

/* #SteelBridge-proj:hover ~ #proj-info-SteelBridge {
  display: block;
  color: red;
}
#subway-proj:hover ~ #proj-info-subway {
  display: block;
  color: red;
}
#concrete-proj:hover ~ #proj-info-concrete {
  display: block;
  color: red;
}
#dams-proj:hover ~ #proj-info-dams {
  display: block;
  color: red;
}*/

.proj-description {
    font-family: arial;
    font-size: 1rem;
}


/* --------------------------- Experience Section -- */

/* Timeline Container */
.timeline {
    width: 40%;
    min-width: 400px;
    white-space: nowrap;
    text-align: center;
}

.right-cards {
    width: 45%;
    padding-left: 0%;
    /* border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #333; */
    margin-left: -4px;
    min-width: 200px;
    white-space: normal;
}

.left-cards {
    width: 45%;
    padding-right: 0%;
    border-right-style: solid;
    border-right-width: 5px;
    border-right-color: orange;
    margin-right: -5px;
    min-width: 200px;
    white-space: normal;
}

/* Outer Layer with the timeline border */


/* Card container */
.card-left {
    position: static;
    margin: 20px 20px 20px 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    background: orange;
    color: gray;
    border-radius: 8px;
    max-width: 300px;
    border-left: 2px solid orange;
}
.card-right {
    position: static;
    margin: 4px 20px 20px 20px;
    padding-left: 10px;
    padding-top: 10px;
    background: orange;
    color: gray;
    border-radius: 8px;
    max-width: 300px;
    border-right: 2px solid orange;
}

/* Information about the timeline */
.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

/* Title of the card */
.title-left {
    color: orangered;
    position: static;
    margin: 0;
}

.title-left-blank {
    color: orangered;
    position: static;
    margin: 0;
}

.title-right {
    color: orangered;
    position: static;
    margin: 0;
}
.title-right-blank {
    color: orangered;
    position: static;
    margin: 0;
}

.role-left {
    color: orangered;
    position: static;
    margin: 0;
}

.role-right {
    color: orangered;
    position: static;
}

.title-left::after {
    content: "";
    float: right;
    position: relative;
    left: 35px;
    width: 25px;
    height: 10px;
    background: orange;
    border-radius: 1px;
    border: 3px solid orange;
}

.title-right::before {
    content: "";
    float: left;
    position: relative;
    right: 30px;
    /* bottom: 10px; */
    width: 20px;
    height: 10px;
    background: orange;
    border-radius: 1px;
    border: 3px solid orange;
}

.experience-logo-left {
    margin: auto;
    max-width: 80%;
    cursor: pointer;
}

.experience-logo-right {
    margin: auto;
    max-width: 80%;
    cursor: pointer;
}

#experience-KimleyHorn:hover > .info > img{ animation: shake 0.5s; animation-iteration-count: infinite; }
#experience-ClarkConstruction:hover > .info > img{ animation: shake 0.5s; animation-iteration-count: infinite; }
#experience-Versed:hover > .info > img{ animation: shake 0.5s; animation-iteration-count: infinite; }
#experience-CUProjectTeams:hover > .info > img{ animation: shake 0.5s; animation-iteration-count: infinite; }
#experience-SteelBridge:hover > .info > img{ animation: shake 0.5s; animation-iteration-count: infinite; }
#experience-NYPL:hover > .info > img{ animation: shake 0.5s; animation-iteration-count: infinite; }

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.card-description {
    height: 100%;
}

.card-left .info:focus-within {
    background: orange;
}

.experience-info {
    position: sticky;
    top: 100px;
    border: 5px solid black;
    min-width: 517px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 55%;
    height: 650px;
}

.experience-placeholder {
    position: sticky;
    top: 100px;
    border: 5px solid black;
    min-width: 517px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 55%;
    padding: 0;
}

.info-title h2{
    margin: 10px 0px 0px 0px;
    color: #F2AA4CFF;
}

.info-title h3{
    margin: 0px;
}
.info-body{
    padding: 20px;
    display: block;
    text-align: left;
}

#hidden-div-KimleyHorn {    display: none;    }
#hidden-div-CUProjectTeams {    display: none;    }
#hidden-div-ClarkConstruction {    display: none;    }
#hidden-div-SteelBridge {    display: none;    }
#hidden-div-Versed {    display: none;    }
#hidden-div-NYPL {    display: none;    }


.exp-img{
    width: 50%;
    margin: auto;
}




/* --------------------------- Education Section -- */

.coursecode{
    font-family: "courier new";
    font-weight:bold;
}

h2{
    color:#000;
    text-align:center;
    font-size:2em;
}
.coursework{
    display:flex;
    flex-direction: column;
    align-items: center;
    vertical-align: top;
}
.tab{
    cursor: pointer;
    padding:10px 20px;
    margin:0px 2px;
    background:#000;
    display:inline-block;
    color:#fff;
    border-radius:3px 3px 0px 0px;
    box-shadow: 0 0.5rem 0.8rem #00000080;
}

.tabs {
    min-width: 500px;
    margin-left: 20px;
}

.panels{
    background:#fffffff6;
    box-shadow: 0 2rem 2rem #00000080;
    min-height:200px;
    min-width: 500px;
    width:100%;
    max-width:800px;
    border-radius:3px;
    overflow:hidden;
    padding:20px;
    margin-left: 75px;
}
.panel{
    display: none;
    animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
    font-size:1.5em;
    font-weight:bold
}
.radio{
    display:none;
}
#one_cornell:checked ~ .panels #one_cornell-panel,
#two_cornell:checked ~ .panels #two_cornell-panel,
#three_cornell:checked ~ .panels #three_cornell-panel,
#four_cornell:checked ~ .panels #four_cornell-panel{
  display:block
}
#one_cornell:checked ~ .tabs #one_cornell-tab,
#two_cornell:checked ~ .tabs #two_cornell-tab,
#three_cornell:checked ~ .tabs #three_cornell-tab,
#four_cornell:checked ~ .tabs #four_cornell-tab{
    background:#fffffff6;
    color:#000;
    border-top: 3px solid #000;
}

#one_stuy:checked ~ .panels #one_stuy-panel,
#two_stuy:checked ~ .panels #two_stuy-panel,
#three_stuy:checked ~ .panels #three_stuy-panel,
#four_stuy:checked ~ .panels #four_stuy-panel{
  display:block
}
#one_stuy:checked ~ .tabs #one_stuy-tab,
#two_stuy:checked ~ .tabs #two_stuy-tab,
#three_stuy:checked ~ .tabs #three_stuy-tab,
#four_stuy:checked ~ .tabs #four_stuy-tab{
    background:#fffffff6;
    color:#000;
    border-top: 3px solid #000;
}

/* CSS for carousel */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  min-width: 500px;
  position: relative;
  margin: auto;
  box-shadow: 0 1rem 1rem #00000080;
}

/* Hide the images by default */
.CornellSlides, .StuySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  left: 100%;
  border-radius: 0px 3px 3px 0px;
  background-color: black;
}


.prev{
    right: 100%;
    border-radius: 3px 0px 0px 3px;
    background-color: black;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}

/* Caption text */
.text_Cornell, .text_Stuy {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: inline-block;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background: black;
}

/* Number text (1/3 etc) */
.numtext_Cornell, .numtext_Stuy {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  background-color: black;
  top: 0;
}

.dotdiv {
    width: 100%;
    min-width: 500px;
    text-align: center;
    padding: 5px;
    background: black;
    position: relative;
}

/* The dots/bullets/indicators */
.cornelldot, .stuydot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: auto;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .cornelldot:hover, .stuydot:hover{
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.course-list{
    text-align: left;
}
